{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "yarn version --new-version ${nextRelease.version} --no-git-tag-version",
      "publishCmd": "npm publish"
    }],
    "@semantic-release/github"
  ]
}
